body { padding: 0; margin: 0; }
html, body, #map { height: 100%; width: 100%; }

.legend {
  background: white;
  padding: 10px 12px;
  border-radius: 6px;
  line-height: 18px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 14px;
}
.legend i {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}
